<div th:replace="fragments/header"></div>

<h1>Velkommen til vores nye blog</h1>
<div class="contentContainer">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titel</th>
            <th>Tekst</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts}">
            <td th:text="${post.id}"/>
            <td th:text="${post.titel}"/>
            <td th:text="${post.tekst}"/>
            <td th:text="${post.dato}"/>

        </tr>

        </tbody>
    </table>


</div>

<div th:replace="fragments/footer"></div>

