<div th:replace="fragments/header"></div>

<h1 align="center" style="padding: 25px";>Velkommen til vores nye blog</h1>

<div class="container">
    <article style="margin: 10px; padding: 5px; border-width: 1px; border-color: black; border-style: solid" th:each="post: ${posts}">
        <h2 style="text-align: center" th:text="${post.titel}" />
        <p style="margin: 20px;" th:text="${post.tekst}" />
        <p style="text-align: center" th:text="${post.dato}" />
    </article>
</div>

<div th:replace="fragments/footer"></div>

